@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:  url("../fonts/roboto-v20-latin-500.woff2") format("woff2"),
       url("../fonts/roboto-v20-latin-500.woff") format("woff"); 
      }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
       url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
       url("../fonts/roboto-v20-latin-regular.woff") format("woff"); 
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url("../fonts/roboto-v20-latin-700.woff2") format("woff2"), 
       url("../fonts/roboto-v20-latin-700.woff") format("woff"); 
}
html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  font-family: "Roboto";
  margin: 0;
  background-color: #f2ce97;
}
.container{
  max-width: 900px;
  margin: 100px auto;

}
.text__box{
  display: flex;
} 
.text__profile{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 5px;
  background-color: #333;
  color: #fff;
}
.box-heading{
  font-size: 27px;
  margin: 0;

}
.text-uppercase{
  font-size: 30px;
  margin: 0;}
.text-uppercase::after{
  display: flex;
  height: 3px;
  width: 50px;
  background-color: tomato;
  margin-top: 10px;
  content: "";
}
.avatar__name{
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: 400;
}
.avatar__name:before{
  display: block;
  width: 50px;
  height: 50px;
  margin: 0;
  margin-right: 15px; 
  border-radius: 50%;
  background-image: url("../img/avatar.jpg");
  background-position: center center;
  background-size: contain;
  overflow: hidden;
  content: "";
}
.text__info{
  width: 60%;
  background-color: #fff;
}
.text__field{
  font-size: 17px;
  line-height: 1.5;
  padding: 20px 30px;
}
.text__paragraph-first{
  margin: 0;
}
.bold{
  font-size: 22px;
}
.notisfiction--part{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
}
.text__notisfiction{
  display: flex;
  align-items: center;

}
.notisfiction{
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 270PX;
}
.comment--pic{
  display: flex;
}
.notisfiction--number{
  display: flex;
  align-items: center;
  color: #999;
  margin: 0;
  margin-left: 5px;
}
.bold-number{
  font-weight: 700;
}
.notisfiction--number::after{
  display: block;
  width: 4px;
  height: 4px;
  margin-left: 20px;
  box-shadow: 6px 0  0  black, 12px 0 0 black;
  border-radius: 50%;
  background-color: #222;
  content: "";
}